body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top_header ul li{
  margin-right:10px;
  text-decoration:none;
  display:inline;
  color:#beae64;
 }
.top_header ul li a{
  text-decoration:none;
  color:#beae64;
 
}
.top_header ul li:nth-child(3){
  border-right: .5px solid #beae64;
  padding-right:5px;
 }
li .fa{
  margin-right:5px;
}
.top_header{
  background-color:rgba(0,0,0,0.7);
  height:25px;
  position:relative;
  top:0px;
  left:0px;
  z-index: 999;
}
.overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 1;
}