@media only screen and (max-width: 900px) {  
    .product {
      display: flex;
      flex-direction: column;
      text-align: center;
      height: fit-content;
      grid-template-columns: 50% 50%;
    }
    #img-products{     
    height: 100px;
    width: 175px;
    } 
      
  }