@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital@1&display=swap');

.title {
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin: 140px auto 15px auto;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}