.wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;

    .formwrapper {
      width: 425px;
      display: flex;
      flex-direction: column;
      padding: 20px 40px;
      border-radius: 10px;
      background-color: whitesmoke;

        .formtitle {
            text-align: center;
            width: 100%;
            margin-bottom: 15px;
            font-size: 25px;
            color: #E08E45;
            font-weight: bold;
            font-family: 'RocknRoll One', sans-serif;
            text-transform: uppercase;
        }

        form {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .username, .email, .password {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                font-family: 'Open Sans', sans-serif;
            }

            .email, .username, .password {
                width: 100%;
            }

            label {
                font-size: 1em;
                margin-bottom: 0.25em;
            }

            input {
                padding: 10px 10px;
                border-radius: 5px;
                outline: none;
                height: 45px;
                border: 1.5px solid #cfcfcf;
                &::placeholder {
                    font-size: 1.2em;
                    font-weight: lighter;
                    color: #999;
                }
                &:focus {
                    font-size: 1em;
                    font-family: 'Open Sans', sans-serif;
                }
            }

            .createOrder {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                align-items: center;
                .button {
                    background-color: #E08E45;
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-family: 'Open Sans', sans-serif;
                    line-height: 30px;
                    vertical-align: middle;
                    width: 150px;
                    height: 40px;
                    border: none;
                    margin: 10px auto 0 auto;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }

            .lines {
                margin: 25px auto 15px auto;
                display: flex;
                align-items: center;
                width: 80%;

                .line {
                    background-color: #282828;
                    height: 1.5px;
                    flex-grow: 1;
                    flex-shrink: 1;
                }

                .or {
                    color: #E08E45;
                    text-transform: uppercase;
                    font-size: 16px;
                    margin: auto 18px;
                    font-weight: bold;
                    font-family: 'RocknRoll One', sans-serif;
                    letter-spacing: 0.5px;
                }
            }

            .a {
                text-decoration: none;
                color: inherit;
                margin: auto;
            }

            .signup {
                background-color: #E08E45;
                color: white;
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                margin: 10px auto auto auto;
                border-radius: 500px;
                line-height: 38px;
                letter-spacing: 1px;
                vertical-align: middle;
                width: 120px;
                height: 40px;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .formwrapper {
        width: 350px !important;
        margin-bottom: 40px;
    }
}