@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    transition: margin-right 0.75s;
}

.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .alogo {
        text-decoration: none;
        color: #E08E45;
    }

    .logo {
        text-transform: uppercase;
        font-family: 'RocknRoll One', sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin: auto 40px;
        cursor: pointer;
    }

    .righticons {
        align-items: center;
        display: flex;

        .login {
            color: #E08E45;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            width: 60px;
            margin: auto 10px;
            cursor: pointer;
        }

        .signup {
            background-color: #E08E45;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            margin: auto 40px auto 5px;
            border-radius: 500px;
            line-height: 32px;
            vertical-align: middle;
            width: 85px;
            height: 35px;
            text-align: center;
            cursor: pointer;
        }

        .cart {
            font-size: 25px;
            color: #E08E45;
            cursor: pointer;
        }

        .burger {
            font-size: 30px;
            color: #E08E45;
            margin: auto 40px auto 25px;
            cursor: pointer;
        }
    }

    .navlinks {
        position: fixed;
        display: flex;
        flex-direction: column;
        color: whitesmoke;
        align-items: center;
        height: 100%;
        width: 0;
        overflow-x: hidden;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #282828;
        padding-top: 10px;
        transition: 0.75s;

        .a {
            text-decoration: none;
            color: inherit;
        }

        .links {
            font-family: 'Alegreya Sans SC', sans-serif;
            font-size: 20px;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            margin: 65px auto;
            cursor: pointer;
        }

        .times {
            font-size: 30px;
            color: whitesmoke;
            margin: 30px auto;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 750px) {
    .navbar {
        bottom: 0;
        position: fixed;
        width: 100%;
        justify-content: space-evenly;
        background-color: whitesmoke;

        .navlinks {
            display: flex;
            flex-direction: column-reverse;
            .times {
                width: 20px;
            }
        }

        .righticons {
            .login {
                background-color: #E08E45;
                color: white;
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                margin: auto 10px;
                border-radius: 500px;
                line-height: 32px;
                vertical-align: middle;
                width: 85px;
                height: 35px;
                text-align: center;
            }

            .signup {
                display: none;
            }
        }
    }
}